---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Quach Pham Lan Anh</div>
  </div>

  <div class="mb-10 text-justify">
    <p>International Economics Sophomore @ForeignTradeUniversity | Research Consultant @WorldQuant</p>
  <p>Ha Noi, Vietnam</p>
  <p>lananhchloe1509@gmail.com</p> 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Foreign Trade University"
      subtitle="Bachelor of International Economics (2023-2027)"
    />
    <TimeLineElement
      title="Yen Dinh 1 Highschool"
      subtitle="(2020-2023)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Quantitative Research Consultant"
      subtitle="December 2024 - Present at Worldquant"
    >
      Develop high-quality predictive mathematical models (alphas) through proprietary research to employ financial strategies focused on market inefficiencies.
    </TimeLineElement>
    <TimeLineElement
      title="Marketing Coordinator"
      subtitle="September 2024 - December 2024 at VinUni Business Insider"
    >
     Actively manage media timelines and plan for the project promotion "Next Trainee Challenge 2024". 
    </TimeLineElement>
    <TimeLineElement
      title="Marketing Specialist"
      subtitle="July 2024 - December 2024 at CESGLOBAL"
    >
     Create cutting-edge visuals and design solutions that enhance brand identity and user engagement.
    </TimeLineElement>
    <TimeLineElement
      title="Member of Communication Department"
      subtitle="November 2023 - November 2024 at FTU Real Estate Club"
    >
     Responsible for designing creative visuals and managing communication strategies to amplify the club's outreach and engagement.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Worldquant Gold Certificate Challenge</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python Programming</li>
    <li>Analytical Thinking</li>
    <li>R Programming</li>
    <li>Statistical Data Analysis</li>
    <li>Quantitative Research</li>
    <li>SQL</li>
  </ul>
</BaseLayout>
