---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Quach Pham Lan Anh</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Bachelor of International Economics @Foreign Trade University | Research Consultant @WorldQuant</p>
  <p>Ha Noi, Vietnam</p>
  <p>lananhchloe1509@gmail.com</p> 
  </div>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Education</div>
</div>

<div class="time-line-container grid gap-4 mb-10">

  <TimeLineElement
    title="Foreign Trade University"
    subtitle="Bachelor of International Economics (2023-2027)"
  >
    <ul class="list-disc ml-5 space-y-1">
      <li>Cumulative GPA: 3.67/4.00</li>
      <li>
        Top 5 Best Poster Presented at the International Conference on 
        International Mobility for Economic Development in an Era of 
        Uncertainty and Digital Transformation
      </li>
      <li>
        Top 10% Vietnam Region – Super Alpha Competition 2025 – WorldQuant BRAIN
      </li>
      <li>
        Top 5% Global – Global Alpha Competition 2025 – WorldQuant BRAIN
      </li>
      <li>Top 15 – Product Pioneer Candidate 2025 – FTU Dynamic Club</li>
      <li>WorldQuant Expert Level Certificate</li>
    </ul>
  </TimeLineElement>

  <TimeLineElement
    title="Yen Dinh 1 Highschool"
    subtitle="(2020-2023)"
  >
<ul class="list-disc ml-5 space-y-1">
    <li>IELTS: 7.0</li>
    <li>National Entrance Exam: 27.6/30</li>
    <li>VNU Competency Assessment Exam: 105/150</li>
    <li>Consolation Prize – Excellent Student in English (Provincial Level)</li>
  </ul>
</TimeLineElement>

</div>

 <div class="mb-5">
  <div class="text-3xl w-full font-bold">Experience</div>
</div>

<div class="time-line-container mb-10 space-y-10">

  <TimeLineElement
    title="WorldQuant BRAIN Research Consultant"
    subtitle="December 2024 - Present at Worldquant"
  >
    <div class="font-semibold mt-2"></div>
    <ul class="list-disc ml-5 space-y-1">
      <li>Building Alphas utilizes Worldquant's BRAIN API.</li>
      <li>
        Utilizing Worldquant's BRAIN - a platform specifically designed for building and testing alphas. BRAIN offers a vast amount of financial data, simulation tools, and advanced features for consultants to work with.
      </li>
      <li>
        Responsible for producing high-quality predictive signals (alphas) through proprietary research to employ financial strategies focused on market inefficiencies.
      </li>
    </ul>

  </TimeLineElement>

  <TimeLineElement
    title="Marketing Coordinator"
    subtitle="September 2024 - December 2024 at VinUni Business Insider"
  >
    <div class="font-semibold mt-2"></div>
    <p class="mt-1">
      Actively manage media timelines and plan for the project promotion "Next Trainee Challenge 2024".
    </p>
  </TimeLineElement>

  <TimeLineElement
    title="Marketing Specialist"
    subtitle="July 2024 - December 2024 at CESGLOBAL"
  >
    <div class="font-semibold mt-2"></div>
    <p class="mt-1">
      Creating visual and video content for digital campaigns and developing communication plans boosting engagement by 35%.
    </p>

  </TimeLineElement>

  <TimeLineElement
    title="Member of Communication Department"
    subtitle="November 2023 - November 2024 at FTU Real Estate Club"
  >
    <div class="font-semibold mt-2"></div>
    <p class="mt-1">
      Responsible for designing creative visuals and managing communication strategies.
    </p>

  </TimeLineElement>

</div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> IELTS: 7.5 </a>
    </li>
    <li>
      <a href="#" target="_blank"> Top 5 Best Poster Presented at the International Conference on International Mobility for Economic Development in an Era of Uncertainty and Digital Transformation </a>
    </li>
    <li>
      <a href="#" target="_blank"> Top 10% Vietnam Region - Super Alpha Competition 2025 - WorldQuant BRAIN </a>
    </li>
    <li>
      <a href="#" target="_blank"> Top 5% Global at Global Alpha Competition 2025 - WorldQuant BRAIN </a>
    </li>
    <li>
      <a href="#" target="_blank"> Top 15 - Product Pioneer Candidate 2025 - FTU Dynamic Club </a>
    </li>
    <li>
      <a href="#" target="_blank"> WorldQuant Expert Level Certificate </a>
    </li>
    <li>
      <a href="#" target="_blank"> WorldQuant Challenge Gold Certificate </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python Programming</li>
    <li>Analytical Thinking</li>
    <li>R Programming</li>
    <li>Statistical Data Analysis</li>
    <li>Quantitative Research</li>
    <li>SQL</li>
  </ul>
</BaseLayout>
